/* ==||=======================================================
    normal0.css v1.1 | github.com/satinez/normal0.css

    A simple CSS preset to enable and set some options 
    to decrease the differences between browsers.
=======================================================||== */

html {
    line-height: 1.6;
    box-sizing: border-box;
    font-size: 10px;
    font-family: sans-serif;
    overflow-y: scroll;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

span {
    color: #FF0000;
    background-color: transparent;
}

ol, ul {
    list-style: none;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
    border: 0;
    vertical-align: bottom;
}

hr {
    display: block;
    height: 0.1rem;
    margin: 0.4rem 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 1rem;
}

pre {
    font-family: monospace;
    padding: 1rem;
    margin: 2rem;
    background-color: #EEEEEE;
    color: #000000;
    font-size: 2rem;
}
